<app-nav></app-nav>

<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Arama</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filtertext"
    placeholder="arama ifadesini giriniz"
  />
</div>
<div>
  <div *ngIf="filterText" class="alert alert-success">
    {{ filterText }} Aradınız
  </div>
  <button class="buttonadd" (click)="exportexcel()">Export to Excel</button>
  <table
    id="excel-table"
    *ngIf="dataLoaded == true"
    class="table table-striped table-bordered"
    cellspacing="0"
    style="margin-left: 85px;
      margin-bottom: 65px;
      width: 1650px;"

  >
    <ng-container> </ng-container>

    <thead>
      <tr>
        <th class="th-sm">Id</th>
        <th class="th-sm" scope="col">İsim</th>
        <th class="th-sm" scope="col">Soy isim</th>
        <th class="th-sm" scope="col">Şirket</th>
        <th class="th-sm" scope="col">Departman</th>
        <th class="th-sm" scope="col">Ozel Kod</th>
        <th class="th-sm" scope="col">Telefon</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users | filter: filterText">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.company }}</td>
        <td>{{ user.department }}</td>
        <td>{{ user.privateCode }}</td>
        <td>{{ user.phone }}</td>
      </tr>
    </tbody>
  </table>
  <mat-paginator
    [pageSizeOptions]="[2, 10, 25, 100]"
    aria-label="Select page of User"
  ></mat-paginator>
<share-buttons show ="11"></share-buttons>

</div>
