<nav class="navbar navbar-expand-lg nnavbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/notlogin">
      <img src="https://www.wagner.com.tr/images/logo.png" alt="" height="45" />
    </a>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"></li>
      </ul>
      <div class="btn-group">
      <button class="button-35" role="button" routerLink="/sign-in">
        Giris Yap
      </button>

      </div>
    </div>
  </div>

  <div></div>
</nav>
